<div><br>
    <h3 class="emp-Details">Employee Details</h3>
    <table class="table table-bordered table-info table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Salary</th>
                <th>Nationality</th>
            </tr>
        </thead>

        <tbody>
            <tr class="tableRow">
                <td>1111</td>
                <td>Manisha Kadam</td>
                <td>25000</td>
                <td>Indian</td>
            </tr>
            <tr class="tableRow">
                <td>1112</td>
                <td>Priya Malhotra</td>
                <td>35000</td>
                <td>Indian</td>
            </tr>
            <tr class="tableRow">
                <td>1113</td>
                <td>Reyansh Deshmukh</td>
                <td>45000</td>
                <td>Indian</td>
            </tr>
            <tr class="tableRow">
                <td>1114</td>
                <td>Kaustubh Patil</td>
                <td>55000</td>
                <td>Indian</td>
            </tr>
            <tr class="tableRow">
                <td>1115</td>
                <td>Kriti Sen</td>
                <td>65000</td>
                <td>Indian</td>
            </tr>
            <tr class="tableRow">
              <td>1116</td>
              <td>Vrushabh Jain</td>
              <td>68000</td>
              <td>Indian</td>
          </tr>
          <tr class="tableRow">
            <td>1117</td>
            <td>Priti Singh</td>
            <td>77000</td>
            <td>Indian</td>
        </tr>
        <tr class="tableRow">
          <td>1118</td>
          <td>Vinita Kumar</td>
          <td>87000</td>
          <td>Indian</td>
      </tr>
        </tbody>
      </table>

</div>
