.logo{
    width: 93px;
    height: 81px;
    position: absolute;
    left: 0px;
    bottom: 2px;
}
#navbar{
    background-color: #814cb5d1;
    height: 85px;
}
#nav{
    position: relative;
    left: 507px;
    font-size: 42px;
}
#add-btn{
    float: right;
    position: relative;
    left: 23px;
    bottom: 20px;
}
.form-control{
    line-height: 1.5;
    color: black;
    background-color: #d781df;
    
    border: 1px solid #151a1f;
}
#add-expenses{
    float: right;
    position: relative;
    right: 126px;
}

.expense{
    text-align: center;
    font-size:x-large;
    background-color: #b1c7dfb3;
}
.action{
    font-size: x-large;
    background-color: rgb(208 169 145 / 70%);
}
.floated {
    float:left;
    width: 205px;
    height: 60px;
    margin: 2px;
    border-radius: 13px;
 }
 .table{
    margin-top: 10px;
 }
