.logo{
    width: 93px;
    height: 81px;
    position: absolute;
    left: 0px;
    bottom: 2px;
}

#navbar{
    background-color: #814cb5d1;
    height: 85px;
    // width: 1282px;
   
}
#nav{
    position: relative;
    left: 507px;
    font-size: 42px;
}
// #btn1{
//     background-color: #284d89;
//     width: 106px;
//     height: 52px;
// }

// #btn{
//     width: 106px;
//     height: 52px;
// }
// #btn-july{
//     background-color: #662475;
//     width: 107px;
//     height: 52px;
// }
// #btn-aug{
//     background-color: #288968;
//     width: 107px;
//     height: 52px;
// }
// #btn-sep{
//     background-color: #807317;
//     width: 107px;
//     height: 52px;
// }
// #btn-oct{
//     background-color: #bd4d48;
//     width: 107px;
//     height: 52px;
// }
// #btn-nov{
//     background-color: #c33876;
//     width: 107px;
//     height: 52px;
// }
// #btn-dec{
//     background-color: #556929;
//     width: 108px;
//     height: 52px;
// }
#add-btn{
    float: right;
    position: relative;
    left: 23px;
    bottom: 20px;
}
.form-control{

    line-height: 1.5;
    color: black;
    background-color: #d781df;
    
    border: 1px solid #151a1f;
  
}
#add-expenses{
    float: right;
    position: relative;
    right: 126px;
}

.expense{
    text-align: center;
    font-size:x-large;
    background-color: #b1c7dfb3;
}
.action{
    font-size: x-large;
    background-color: rgb(208 169 145 / 70%);



}


.floated {
    float:left;
    // margin-right:5px;
    width: 205px;
    height: 60px;
    margin: 2px;
    border-radius: 13px;
 }
 .table{
    margin-top: 10px;
 }
