.mb-3{
    width: 300px;
    position: relative;
    left: 183px;
}
.form-control{
    background-color: rgb(150, 240, 240);
    width: 300px;

}
.btn{
    position: relative;
    left: 111px;

}

#cardstyle{
    flex: auto;
    width: 104%;
}

