
<!-- <div *ngIf="noInternetConnection" style="text-align: center;">    
    <h1>THERE IS NO INTERNET CONNECTION</h1>    
</div>    
<div *ngIf="!noInternetConnection" style="text-align: center;">     
    <h1>INTERNET CONNECTION IS THERE</h1>    
    <img width="111px" src="../../assets/welcome-images.webp" alt="Wifi Disconnected" style="width: 100%;height: 100%;"/>    
</div>      -->

<img width="111px" src="../../assets/welcome-images.webp" alt="Wifi Disconnected" style="width: 100%;height: 100%;"/>    
