<div class="topnav">
  <img class="profile" [src]="userImage" />

  <div class="user-name">Username : {{ userName }}</div>
  <br />
  <div class="user-mail">Email : {{ email }}</div>
</div>
<br /><br /><br />

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <br />
      <div class="card-body">
        <h5 class="card-title" style="font-weight: bold">
          Select Date Of Birth
        </h5>
        <br />

        <input
          [(ngModel)]="age"
          style="
            width: 300px;
            background-color: rgb(239 176 241 / 46%);
            position: relative;
            left: 180px;
          "
          type="date"
          class="form-control"
          id="inputDob"
          placeholder="Date Of Birth"
        /><br />
        <button class="btn" (click)="ageCalculator()">Calculate Age</button>
        <br /><br /><br />
        <p *ngIf="age">
          age:
          <span [style.color]="showAge < 18 ? 'red' : 'green'">{{
            showAge
          }}</span>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" style="font-weight: bold">Profile</h5>
        <input
          [(ngModel)]="firstName"
          style="
            width: 300px;
            background-color: rgb(239 176 241 / 46%);
            position: relative;
            left: 180px;
          "
          type="text"
          class="form-control"
          id="firstName"
          placeholder="First Name"
        /><br />
        <input
          [(ngModel)]="lastName"
          style="
            width: 300px;
            background-color: rgb(239 176 241 / 46%);
            position: relative;
            left: 180px;
          "
          type="text"
          class="form-control"
          id="lastName"
          placeholder="Last Name"
        />
        <br />
        <input
          [(ngModel)]="userName"
          style="
            width: 300px;
            background-color: rgb(239 176 241 / 46%);
            position: relative;
            left: 180px;
          "
          type="text"
          class="form-control"
          id="userName"
          placeholder="User Name"
        />
        <br />
        <input
          [(ngModel)]="email"
          style="
            width: 300px;
            background-color: rgb(239 176 241 / 46%);
            position: relative;
            left: 180px;
          "
          type="email"
          class="form-control"
          id="email"
          placeholder="User email"
        />
        <br />
        <small
          *ngIf="
            firstName === '' ||
            lastName === '' ||
            email === '' ||
            userName === ''
          "
          [class.myclass]="
            firstName === '' ||
            lastName === '' ||
            email === '' ||
            userName === ''
          "
          >Please Enter All Values</small
        >
        <button class="sub-btn" (click)="clickMe()">Submit</button>
      </div>
    </div>
  </div>
</div>
